html{
    font-size: 62.5%;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

div{
    padding: 1rem;
}

.first{
    background-color: aquamarine;
    color: crimson;
}   
    @media (max-width: 480px) {
        .first{
            background-color: crimson;
            color: white;
        }
}

.second{
    background-color: crimson;
    color: aquamarine;
}
    @media (max-width: 480px) {
        .second{
            background-color: aquamarine;
            color: black;
        }
    }

.first p, .second p{
    font-weight: bold;
    font-size: 1.5rem;
}