*{
    font-family: Arial, Helvetica;
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    margin: 5%;
}
h1{
    font-size: 48px;
    font-weight: bold;
}
img{
    margin: auto;
    border: solid black 5px;
    border-radius: 3px;
    width: 60%;
}